<!doctype html>
<html class="no-js" lang=""> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>北大软微日程管理系统</title>
    <meta name="description" content="北大软微日程管理系统">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__STATIC__/assets/css/normalize.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/themify-icons.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/pe-icon-7-filled.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/style.css">
    <!-- 新加路径 -->
    <link href="__STATIC__/calendar_redpanda/css/calendarAll.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/calendar_redpanda/css/skin.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/calendar_redpanda/css/fontSize12.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/calendar_redpanda/css/calendar.css" rel="stylesheet" type="text/css"/>

</head>

<body>
    
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">       
                    <li class="menu-title">日程查询统计</li><!-- /.menu-title -->
                    <li class="menu-item-has-children active">
                        <a href="{:url('index/index/index')}"> <i class="menu-icon fa fa-search-plus"></i>日程查询</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#"> <i class="menu-icon fa fa-bar-chart-o"></i>日程统计 </a>
                    </li> 

                    <li class="menu-title">日程管理配置</li><!-- /.menu-title -->
                    <li class="menu-item-has-children">
                        <a href="{:url('index/index/time')}"> <i class="menu-icon fa fa-calendar"></i>时间段管理</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="area.html"> <i class="menu-icon fa ti-location-pin"></i>地点管理 </a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="thing.html"> <i class="menu-icon fa fa-book"></i>事项管理</a>
                    </li>
                     <li class="menu-item-has-children">
                        <a href="{:url('whitelist/add/index')}"> <i class="menu-icon fa fa-folder-open-o"></i>白名单管理 </a>
                    </li>                     
                     <li class="menu-item-has-children">
                        <a href="#"> <i class="menu-icon fa fa-arrows"></i> 
                        设置可维护日程范围</a>
                    </li>     
                     <li class="menu-item-has-children">
                        <a href="{:url('workday/workday/workday')}"> <i class="menu-icon fa fa-calendar-o"></i> 
                        配置工作日</a>
                    </li> 
                     <li class="menu-item-has-children">
                        <a href="#"> <i class="menu-icon fa fa-square-o"></i> 
                        缺省日程维护</a>                         

                    <li class="menu-title">用户管理</li><!-- /.menu-title -->
                    <li class="menu-item-has-children">
                        <a href="user_base.html"> <i class="menu-icon fa fa-user"></i>基础管理 </a>
                    </li> 
                     <li class="menu-item-has-children">
                        <a href="#"> <i class="menu-icon fa fa-building-o"></i>部门管理 </a>
                    </li>  
                     <li class="menu-item-has-children">
                        <a href="#"> <i class="menu-icon fa fa-lemon-o"></i>职务管理 </a>
                    </li>                                             

                    <li class="menu-title">管理员管理</li> 
                     <li class="menu-item-has-children">
                        <a href="#"> <i class="menu-icon fa fa-group"></i>基础管理 </a>
                    </li>                      
                     <li class="menu-item-has-children">
                        <a href="#"> <i class="menu-icon fa fa-credit-card"></i>角色管理 </a>
                    </li>                                           
                     <li class="menu-item-has-children">
                        <a href="#"> <i class="menu-icon fa fa-sitemap"></i>权限管理 </a>
                    </li>                     

                    <li class="menu-title">日志管理</li><!-- /.menu-title -->
                    <li class="menu-item-has-children">
                        <a href="log.html"> <i class="menu-icon fa fa-search"></i>日志查询</a>
                    </li>    

                    <li class="menu-title">消息管理</li><!-- /.menu-title -->
                    <li class="menu-item-has-children">
                        <a href="log.html"> <i class="menu-icon fa fa-comment-o"></i>消息模板</a>
                    </li>                                 
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="index.html"><img src="/images/logo2.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="page-login.html"><i class="fa fa-power-off"></i>退出</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Content -->
        <div class="content">
            <div class="animated fadeIn">                
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                 <h4 class="box-title">设置工作日
                                 </h4>
                            </div>
                            
                            <!-- 新加设置工作日 135-273 -->
                            <div class="main" style="height:98%;">

                                <div class="pathBar" style="margin-bottom:2px;">
                                    <div class="pathBarPos">
                            
                                    </div>
                                </div>
                            
                                <div id="myrl" style="width:820px; margin-left:auto; margin-right:auto; height:840px; overflow:hidden;">
                                    <form name=CLD>
                                        <TABLE class="biao" style="table-layout:fixed" width="800px">
                                            <TBODY>
                                            <TR>
                                                <TD class="calTit" colSpan=7 style="height:30px;padding-top:3px;text-align:center;">
                            
                                                    <a href="#" title="上一年" id="nianjian" class="ymNaviBtn lsArrow"></a>
                                                    <a href="#" title="上一月" id="yuejian" class="ymNaviBtn lArrow"></a>
                            
                                                    <div style="width:500px; float:left; padding-left:230px;">
                                                                        <span id="dateSelectionRili" class="dateSelectionRili"
                                                                              style="cursor:hand;color: white; border-bottom: 1px solid white;"
                                                                              onclick="dateSelection.show()">
                                                                        <span id="nian" class="topDateFont"></span><span
                                                                                class="topDateFont">年</span><span id="yue"
                                                                                                                  class="topDateFont"></span><span
                                                                                class="topDateFont">月</span>
                                                                        <span class="dateSelectionBtn cal_next"
                                                                              onclick="dateSelection.show()">▼</span></span> &nbsp;&nbsp;<font id=GZ
                                                                                                                                               class="topDateFont"></font>
                                                    </div>
                            
                                                    <!--新加导航功能-->
                                                    <div style="left: 250px; display: none;" id="dateSelectionDiv">
                                                        <div id="dateSelectionHeader"></div>
                                                        <div id="dateSelectionBody">
                                                            <div id="yearList">
                                                                <div id="yearListPrev" onclick="dateSelection.prevYearPage()">&lt;</div>
                                                                <div id="yearListContent"></div>
                                                                <div id="yearListNext" onclick="dateSelection.nextYearPage()">&gt;</div>
                                                            </div>
                                                            <div id="dateSeparator"></div>
                                                            <div id="monthList">
                                                                <div id="monthListContent"><span id="SM0" class="month"
                                                                                                 onclick="dateSelection.setMonth(0)">1</span><span
                                                                        id="SM1" class="month" onclick="dateSelection.setMonth(1)">2</span><span
                                                                        id="SM2" class="month" onclick="dateSelection.setMonth(2)">3</span><span
                                                                        id="SM3" class="month" onclick="dateSelection.setMonth(3)">4</span><span
                                                                        id="SM4" class="month" onclick="dateSelection.setMonth(4)">5</span><span
                                                                        id="SM5" class="month" onclick="dateSelection.setMonth(5)">6</span><span
                                                                        id="SM6" class="month" onclick="dateSelection.setMonth(6)">7</span><span
                                                                        id="SM7" class="month" onclick="dateSelection.setMonth(7)">8</span><span
                                                                        id="SM8" class="month" onclick="dateSelection.setMonth(8)">9</span><span
                                                                        id="SM9" class="month" onclick="dateSelection.setMonth(9)">10</span><span
                                                                        id="SM10" class="month" onclick="dateSelection.setMonth(10)">11</span><span
                                                                        id="SM11" class="month curr" onclick="dateSelection.setMonth(11)">12</span>
                                                                </div>
                                                                <div style="clear: both;"></div>
                                                            </div>
                                                            <div id="dateSelectionBtn">
                                                                <div id="dateSelectionTodayBtn" onclick="dateSelection.goToday()">今天</div>
                                                                <div id="dateSelectionOkBtn" onclick="dateSelection.go()">确定</div>
                                                                <div id="dateSelectionCancelBtn" onclick="dateSelection.hide()">取消</div>
                                                            </div>
                                                        </div>
                                                        <div id="dateSelectionFooter"></div>
                                                    </div>
                                                    <a href="#" id="nianjia" title="下一年" class="ymNaviBtn rsArrow" style="float:right;"></a>
                                                    <a href="#" id="yuejia" title="下一月" class="ymNaviBtn rArrow" style="float:right;"></a>
                                                    <!--	<a id="jintian" href="#" title="今天" class="btn" style="float:right; margin-top:-2px; font-size:12px; text-align:center;">今天</a>-->
                            
                                                </TD>
                                            </TR>
                                            <TR class="calWeekTit" style="font-size:12px; height:20px;text-align:center;">
                                                <TD width="100" class="red">星期日</TD>
                                                <TD width="100">星期一</TD>
                                                <TD width="100">星期二</TD>
                                                <TD width="100">星期三</TD>
                                                <TD width="100">星期四</TD>
                                                <TD width="100">星期五</TD>
                                                <TD width="100" class="red">星期六</TD>
                                            </TR>
                                            <SCRIPT language="JavaScript">
                            
                                                var gNum;
                                                for (var i = 0; i < 6; i++) {
                                                    document.write('<tr style="table-layout:fixed" align=center height="50" id="tt">');
                                                    for (var j = 0; j < 7; j++) {
                                                        gNum = i * 7 + j ;
                                                        <!-- onMouseOver="mOvr(this,' + gNum + ');"  onMouseOut="mOut(this);" -->
                                                        document.write('<td  id="GD' + gNum + '" on="0" ><font id="SD' + gNum + '" style="font-size:22px;"  face="Arial"');
                                                        if (j == 0)  document.write('color=red');
                                                        if (j == 6)
                                                            document.write('color=red');
                                                        document.write('  TITLE="">  </font><br><font  id="LD' + gNum + '"  size=2  style="white-space:nowrap;overflow:hidden;cursor:default;">  </font></td>');
                                                    }
                                                    document.write('</tr>');
                                                }
                                            </SCRIPT>
                                            </tbody>
                                        </TABLE>
                                        <table class="biao" width="800px" style="margin-top: 10px;">
                                        <tr>
                                          <td>
                                             <div id="workday" class="cc">
                                                 <p id="setworkday"><span>设为工作日（默认周一至周五）</span>: </p>
                                               </div>
                                            </td>
                                        </tr>
                                        <tr>
                                          <td>
                                             <div id="holiday" class="cc">
                                                   <p id="setholiday"><span>设为假日（默认周六周日和法定假日当天）</span>: </p>
                                              </div>
                                         </td> 
                                        </tr>
                                       <!--  <tr>
                                          <td>
                                            <div id="delete" class="cc">
                                                <p id="deleteSet"><span>删除日期设置</span>: </p>
                                            </div>
                                         </td> 
                                        </tr>  -->
                                      </table>
                                      <table  border="1"  cellpadding="5" cellspacing="5" style="margin-top: 10px;width: 80%;height: 30px">
                                        <tr align="center" style="margin-top: 5px;">
                                          <td width="80"><input type=button value='提交' class="button6"  onclick=h_submit()></td>
                                          <td width="80"><input type=button value="重置" class="button6"  onclick=rebuild()></td>
                                          <td width="20" bgcolor="#cfdff3">&nbsp;</td>
                                          <td width="80">选 中&nbsp;&nbsp;</td>
                                          <!-- <td width="20" bgcolor="#CFDFF0">&nbsp;</td>
                                          <td width="80">今 日</td> -->
                                          </tr>
                                    </tr>
                                  </table>
                                    </form>
                                </div>
                            </div>
                            <div id="details" style="margin-top:-1px;"></div>

                        </div>
                    </div>                                       
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2019 SSPKU Admin. 友情链接 <a href="http://www.ss.pku.edu.cn/" target="_blank" title="北京大学软件与微电子学院">北京大学软件与微电子学院</a> 
                    </div>
                    <div class="col-sm-6 text-right"> Designed by SunJiajing
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="__STATIC__/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/assets/js/popper.min.js"></script>
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>
    <script src="__STATIC__/assets/js/jquery.matchHeight.min.js"></script>
    <script src="__STATIC__/assets/js/main.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="__STATIC__/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="__STATIC__/assets/js/init/datatables-init.js"></script>
    <!-- 新加Scripts -->
    <SCRIPT language="JavaScript">
        $("td").click(function(){    //td点击事件；
            var val = $(this).attr("id")  //定义val值为点击的此td的id值；
        })
            //提交
        function h_submit(){
            if(hDays.length==0){
                alert("提交数据为空！");
                return false;
            }else{
                alert(hDays);
            }
            var data = "$"+hDays;
            $.ajax({
                   url:"saveCalendar",
                   data:{"calendarData":data},
                   type:'POST',
                   cache:false,
                   async:false,
                   success:function(data) {
                       if (data.isError === "1") {
                           layer.alert(data.msg, {icon : 2, time : 5000});
                       } else {
                           window.location.reload();
                       }
                   },
                   error : function() {
                       layer.alert('操作失败，请刷新页面后重试！', {icon : 2, time : 5000});
                   }
               });
        }
          //重置
         function rebuild(){
            hDays=[];
            window.location.reload();
        }          
        
         </SCRIPT>
    <script type="text/javascript" src="__STATIC__/calendar_redpanda/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/calendar_redpanda/js/calendar.js"></script>

</body>
</html>
