<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>教学课件管理系统--北京大学软件与微电子学院</title>
		<script type="text/javascript" src="__JS__/jquery.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
		<script type="text/javascript" src="__JS__/place_mag.js"></script>
	    
		<link rel="stylesheet" type="text/css" href="__CSS__/place_mag.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
		
		
	</head>
	<body class="background">
		<div class="content">
			<div class="theme">
				<form>
					<label for="name">地点名称：</label>
					<input type="text" class="form-control form_input" id="name" placeholder="请输入地点名称">
				    <button id='add_date_btn' data-toggle="modal" data-target="#myModal" type='button' class="btn btn-primary">添加地点</button>
				</form>
			</div>

			<div>
				<table id='mytable' class="table table-bordered table-hover">
				  <thead>
				    <tr>
					    <th>编号</th>
					    <th>地点</th>
					    <th>操作</th>
					</tr>
				  </thead>
				  <tbody id='place_data'>
				    <tr>
				      <td>1</td>
				      <td>软微</td>
				      <td>
				      	<button type="button" class="btn btn-primary">修改</button>
				      	<button type="button" class="btn btn-primary">删除</button>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>


			<div id="pagebar"></div>

		</div>
	</body>
</html>